.fa-check-square {
color: $green;
}

.fa-exclamation {
  color: $pink;
}

.card-booking {
  display: grid;
  background-color: white;
  width: 100%;
  padding: 30px;
  margin-bottom: 30px;
  border: 0.1px solid black;
  border-radius: 8px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.19), 0 1px 1px rgba(0, 0, 0, 0.23);
}

.card-body h2 {
  color: $pink;
  size: 16px;
  padding-bottom: 10px;
}
