// Specific CSS for your home-page
.banner {
  color: white;
  height: 100vh;
  background-size: cover;
  background-position: center center;
  opacity: 1;
  visibility: inherit;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  display: flex;
}

#instruction-home {
  display: flex;
  justify-content: center;
  margin-bottom: 26px;
  margin-top: 30px;
}

.banner-content {
  text-align: right;
  color: white;
  vertical-align: top;
  padding-top: 20px;
    h5{
      color: #f4b0b7;
    }
}

.img {
  height: 50px;
}

.home-search{
  color: black;
}
#wrapper-comofunciona {
  margin-right: auto; /* 1 */
  margin-left:  auto; /* 1 */

  max-width: 100%; /* 2 */
  height: 300px;

  padding-right: 10px; /* 3 */
  padding-left:  10px; /* 3 */
  text-align: center;

  background-color: $light-gray;
#wrapper-vantagens {
  margin-right: auto; /* 1 */
  margin-left:  auto; /* 1 */

  max-width: 100%; /* 2 */
  height: 300px;

  padding-right: 10px; /* 3 */
  padding-left:  10px; /* 3 */

  text-align: center;
}
#wrapper-ctababysitter {
  margin-right: auto; /* 1 */
  margin-left:  auto; /* 1 */

  max-width: 100%; /* 2 */
  height: 300px;

  padding-right: 10px; /* 3 */
  padding-left:  10px; /* 3 */
  background-color: $light-gray;
  text-align: center;
 }
}

.fc-axis {
  width: 100px !important;
  height: 50px !important;
  span {
  font-size: 12px;
  }
}

.flatpickr-input  {
  border-radius: 5px !important;
  padding: 6px !important;
  }

.bord-form {
  border-radius: 5px !important;
  padding: 6px !important;
}
