// Specific CSS for your home-page

#head-home {
  background-image: linear-gradient(45deg, #f76574 0%, #FF8E9B 100%);
  padding-bottom: 90px;
}

.home {
  padding-top: 72px;
}

.header-container {
    position: relative;
    z-index: 10;
    text-align: center;
    & h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 1.3;
    color: white;
    }
    & h5 {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
      color: #011F3F;
    }
}

.container {
  padding-left: 24px;
  padding-right: 24px;
  margin-right: auto;
  margin-left: auto;
}


.section {
    padding-top: 112px;
    padding-bottom: 112px;
}

.infos-sections {
    flex-direction: column;
    align-items: center;
    width: 720px;
    margin: 0 auto;
    margin-top: 40px;
}

.search-section {
    display: flex;
    margin-bottom: 8px;
    padding-left: 64px;
    padding-right: 64px;
    justify-content: space-around;
    max-width: 976px;
    align-itens: center;
}

.call-to-action {
    margin-top: 70px;
    display: flex;
    margin-bottom: 8px;
    padding-left: 64px;
    padding-right: 64px;
    justify-content: space-around;
    max-width: 976px;
    align-itens: center;
}

.search-img {
    width: 144px;
    height: 144px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-text {
    padding-left: 40px;
    max-width: 496px;
}


#instruction-home {
  display: flex;
  justify-content: center;
  margin-bottom: 26px;
  margin-top: 30px;
}

// .img {
//   height: 50px;
// }

.home-search {
  color: black;
  padding-top: 40px;
}

#wrapper-comofunciona {
  margin-right: auto; /* 1 */
  margin-left:  auto; /* 1 */

  max-width: 100%; /* 2 */
  height: 300px;

  padding-right: 10px; /* 3 */
  padding-left:  10px; /* 3 */
  text-align: center;

  background-color: $light-gray;
#wrapper-vantagens {
  margin-right: auto; /* 1 */
  margin-left:  auto; /* 1 */

  max-width: 100%; /* 2 */
  height: 300px;

  padding-right: 10px; /* 3 */
  padding-left:  10px; /* 3 */

  text-align: center;
}
#wrapper-ctababysitter {
  margin-right: auto; /* 1 */
  margin-left:  auto; /* 1 */

  max-width: 100%; /* 2 */
  height: 300px;

  padding-right: 10px; /* 3 */
  padding-left:  10px; /* 3 */
  background-color: $light-gray;
  text-align: center;
 }
}

.fc-axis {
  width: 100px !important;
  height: 50px !important;
  span {
  font-size: 12px;
  }
}

.flatpickr-input  {
  border-radius: 5px !important;
  padding: 6px !important;
  }

.bord-form {
  border-radius: 5px !important;
  padding: 6px !important;
}
