<div class="card">
  <div class="card-left">
    <div class="user_image">
      <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
    </div>
    <div class="card-price">
      <h2>R$ 85</h2>
      <p>por X horas <i class="fas fa-info-circle"></i></p>
    </div>
  </div>

  <div class="card-right">
    <div class="card-username">
      <h2>Name</i></h2>
    </div>

  <div class="card-rating">
      <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
      <p> 5/5 (12 avaliações)
    </div>

    <div class="card-favorite">
      <i class="far fa-heart"></i> XXX is one of your favorites baby-sitter
    </div>

    <div class="card-socialgraph">
      <i class="far fa-thumbs-up"></i> 3 of your friends already booked XXX
    </div>

    <div class="card-history">
      <i class="far fa-calendar-alt"></i> You already booked XXXX on XXX
    </div>

    <div class="card-button">
      <button type="button" class="btn btn-success btn-lg">Contratar</button>
      <button type="button" class="btn btn-info  btn-lg">Ver perfil detalhado</button>
    </div>


  </div>

</div>
