<div class="card">
  <div class="card-left">
    <div class="user_image">
      <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
    </div>
    <div class="card-price">
      R$ 85
    </div>
  </div>

  <div class="card-right">
    <div class="card-username">
      <h2>Name</h2>
      </div>
    <div class="card-description">
      <p>Very cool city, the best</p>
    </div>
  </div>

</div>
