<div class="footer-bar">

 <div class="footer-inside">
    <div class="links"><strong>Links</strong>
    <ul>
      <li><a href="#" class="href">Babás</a></li>
      <li><a href="#" class="href">Mapa</a></li>
      <li><a href="#" class="href">Imprensa</a></li>
    </ul>
  </div>

   <div class="links"><strong>Links</strong>
    <ul>
      <li><a href="#" class="href">Babás</a></li>
      <li><a href="#" class="href">Mapa</a></li>
      <li><a href="#" class="href">Imprensa</a></li>
    </ul>
  </div>

   <div class="links"><strong>Links</strong>
    <ul>
      <li><a href="#" class="href">Babás</a></li>
      <li><a href="#" class="href">Mapa</a></li>
      <li><a href="#" class="href">Imprensa</a></li>
    </ul>
  </div>
  </div>
</div>
