<div class="footer-bar">
  <div class="footer-left">
      <div class="footer-item">
        Footer in progress
  </div>
  <div class="footer-right">
    <a href="" class="footer-link" style="font-size: 16px">About us</a>
  </div>
</div>
