<div class="footer-bar">
 <div class="footer-inside">
    <div class="Contato">
    <ul class="list-inline">
  <li>babáconfia.com</li>
      <li><img width="50" height="50" src="https://image.ibb.co/nbFcXS/baby_logo_sem_fundo.png" alt="logo icon"></li>
      <%= link_to "sobre nós", about_path  %>
    </ul>
  </div>
  </div>
</div>
