<div class="footer-bar">

 <div class="footer-inside">
    <div class="Contato"><strong>Links:</strong>
    <ul class="list-inline">
      <li><%= link_to "<i class='fab fa-github'></i>".html_safe, "https://github.com/danialvino/bbsttr", style: "font-size: 20px;" %></li>
    </ul>
  </div>

   <div class="links"><strong>Contato:</strong>
    <ul>
      <%= link_to "Sobre nós", about_path  %>
    </ul>
  </div>
  </div>
</div>
