<div class="footer-bar">
 <div class="footer-inside">
    <div class="Contato">
    <ul class="list-inline">
  <li><strong>Links:</strong></li>
      <li><%= link_to "<i class='fab fa-github'></i>".html_safe, "https://github.com/danialvino/bbsttr", style: "font-size: 20px;" %></li>
      <%= link_to "Sobre nós", about_path  %>
    </ul>
  </div>
  </div>
</div>
