<div class="container text-center">
  <div id="instruction-home" class="row">
    <h2>Como funciona</h2>
  </div>

  <div class="step1 col-xs-12 col-lg-4 col-md-4">

    <div class="photo-content">
      <div class="photo">
      <%= image_tag "search.svg", class: "img"%>
    </div>
    </div>

    <h4>Procure sua babá</h4>
    <p>Informe a sua localização e a data que deseja e encontre a sua babá de confiança. </p>
  </div>

  <div class="step2 col-xs-12 col-lg-4 col-md-4">
    <div class="photo">
      <%= image_tag "star.svg", class: "img"%>
    </div>
    <h4>Encontre as melhores babás disponíveis</h4>
    <p>Babás que já foram recomendadas por seus amigos e que se encontram disponíveis pra você.</p>
  </div>

  <div class="step2 col-xs-12 col-lg-4 col-md-4">
    <div class="photo">
      <%= image_tag "card.svg", class: "img"%>
    </div>
    <h4>Pague através do app</h4>
    <p>Tenha a comodidade e segurança de realizar o pagamento através do babáconfia.</p>
  </div>
</div>
