
<div class="container text-center">
  <div id="instruction-home" class="row">
    <h2>Como funciona ?</h2>
  </div>

  <div class="step1 col-xs-12 col-lg-4 col-md-4">
    <div id="img-publish-home" class="row">
    </div>
    <h4>Faça a sua busca</h4>
    <p>xxx </div>

  <div class="step2 col-xs-12 col-lg-4 col-md-4">
    <div id="img-receive-home" class="row">
    </div>
    <h4>Escolhe a baby-sitter</h4>
    <p>XX</p>
  </div>

  <div class="step2 col-xs-12 col-lg-4 col-md-4">
    <div id="img-build-home" class="row">
    </div>
    <h4>Cuidamos do resto</h4>
    <p>Nem precisa sacar dinheiro ou calcular o tempo gastado</p>
  </div>
</div>

<div class="container text-center">
  <div id="instruction-home" class="row">
    <h2>Quais sao as vantagens ?</h2>
  </div>

  <div class="step1 col-xs-12 col-lg-4 col-md-4">
    <div id="img-publish-home" class="row">
    </div>
    <h4>Praticidade</h4>
    <p>Em um click, faça sua reserva duma baby-sitter de confiança.</p>
  </div>

  <div class="step2 col-xs-12 col-lg-4 col-md-4">
    <div id="img-receive-home" class="row">
    </div>
    <h4>Qualidade</h4>
    <p>Oferecemos as baby-sitters avalidados e recomendados pelos seus amigos.</p>
  </div>

  <div class="step2 col-xs-12 col-lg-4 col-md-4">
    <div id="img-build-home" class="row">
    </div>
    <h4>Simplicidade</h4>
    <p>Cuidamos do pagamento. Nem precisa sacar dinheiro ou calcular o tempo gastado</p>
  </div>
</div>

<div class="container text-center">
  <div id="instruction-home" class="row">
    <h2>Baby-sitter ? Cadastre-se !</h2>
  </div>

  <div class="step1 col-xs-12 col-lg-4 col-md-4">
    <div id="img-publish-home" class="row">
    </div>
    <h4>Ganhe mais</h4>
    <p>XX</p>
  </div>

  <div class="step2 col-xs-12 col-lg-4 col-md-4">
    <div id="img-receive-home" class="row">
    </div>
    <h4>Compartilhe seu perfil</h4>
    <p>Sua pagina blabla</p>
  </div>

  <div class="step2 col-xs-12 col-lg-4 col-md-4">
    <div id="img-build-home" class="row">
    </div>
    <h4>Tudo automatico</h4>
    <p>Define as preferencias de horario, local, etc. e cuidamos do resto</p>
  </div>
</div>
