
<div class="container text-center">
  <div id="instruction-home" class="row">
    <h2>Descobrir o serviço</h2>
  </div>

  <div class="step1 col-xs-12 col-lg-4 col-md-4">
    <div id="img-publish-home" class="row">
      <i class="fas fa-home fa-2x"></i>
    </div>
    <h4>Titulo 1</h4>
    <p>Bla bla bla bllaa blalb alblalbla alb abla bla</p>
  </div>

  <div class="step2 col-xs-12 col-lg-4 col-md-4">
    <div id="img-receive-home" class="row">
      <i class="fas fa-pencil-alt fa-2x"></i>
    </div>
    <h4>Titulo 2</h4>
    <p>Bla bla bla bllaa blalb alblalbla alb abla bla.</p>
  </div>

  <div class="step2 col-xs-12 col-lg-4 col-md-4">
    <div id="img-build-home" class="row">
      <i class="fas fa-gavel fa-2x"></i>
    </div>
    <h4>Titulo 3</h4>
    <p>Bla bla bla bllaa blalb alblalbla alb abla bla</p>
  </div>
</div>

<div class="call-to-action">
  <div class="title">
    <span class="content-section"><h2>Bla bla bla</h2></span>
  </div>
  <div class="buttons">

  </div>
</div>

</div>
