<div class="section-home text-center">
  <div class="container">
    <h2>Como funciona</h2>

    <div class="infos-sections">
      <div class="search-section text-center">
        <div class="search-img">
          <%= image_tag "search.svg", class: "img"%>
        </div>
        <div class="search-text">
          <h3>Procure sua babá</h3>
          <p>Informe a sua localização e a data que deseja e encontre a sua babá de confiança. </p>
        </div>
      </div>
        <hr>
      <div class="search-section text-center">
        <div class="search-img">
          <%= image_tag "star.svg", class: "img"%>
        </div>
        <div class="search-text">
          <h3>Encontre as melhores babás disponíveis</h3>
          <p>Babás que já foram recomendadas por seus amigos e que se encontram disponíveis pra você.</p>
        </div>
      </div>
        <hr>
      <div class="search-section text-center">
        <div class="search-img">
          <%= image_tag "card.svg", class: "img"%>
        </div>
        <div class="search-text">
          <h3>Pague através do app</h3>
          <p>Tenha a comodidade e segurança de realizar o pagamento através do babáconfia.</p>
        </div>
      </div>
        <hr>
      <div class="call-to-action text-center">
        <div class="search-text">
          <h2>Cadastre-se e faça parte</h2>
          <%= link_to "Cadastrar", new_user_registration_path, class: "btn btn-lg btn-light-blue" %>
        </div>
      </div>

    </div>
  </div>
</div>
