<div class="banner" style="background-image: url('http://www.space338.com.au/wp-content/uploads/2015/12/Option_Original_Girl.png')">
  <div class="banner-content">
      <h1>Encontre uma baba de confiança em instantes.</h1>
      <p>Procure agora as melhores baby-sitters disponiveis</p>
  </div>
</div>

<%= render "pages/content" %>

