<div class="header">

  <div class="header-left" style="background-image:url(http://www.allwhitebackground.com/images/3/3197.jpg)">
  </div>


  <div class="header-right">

    <div class="header-content">
      <h1>Encontre as melhores baby-sitters</h1>
      <p>Easier. Faster. Safer. Bbsttr.</p>

      <form>
      <input type="text" name="name" class="question" id="nme" required autocomplete="off" />
      <label for="nme"><span>Meu endereço</span></label>
      <input type="text" name="name" class="question" id="nme" required autocomplete="off" />
      <label for="nme"><span>Dia & horario</span></label>
      <input type="text" name="name" class="question" id="nme" required autocomplete="off" />
      <label for="nme"><span>Duração estimada</span></label>
      <input type="submit" class="btn btn-light-blue" value="Buscar" />

      </form>

    </div>
  </div>
</div>

<%= render 'pages/content' %>
