<div class="header">

  <div class="header-left" style="background-image:url(http://www.space338.com.au/wp-content/uploads/2015/12/Option_Original_Girl.png)">
  </div>


  <div class="header-right">

    <div class="header-content">
      <h1>Encontre uma baba de confiança em instantes.</h1>
      <p>Facilite sua vida. Ganhe tempo. Enjoy !</p>
      <form>
      <input type="text" name="name" class="question" id="nme" required autocomplete="off" />
      <label for="nme"><span>Meu endereço</span></label>
      <input type="text" name="name" class="question" id="nme" required autocomplete="off" />
      <label for="nme"><span>Dia & horario</span></label>
      <input type="text" name="name" class="question" id="nme" required autocomplete="off" />
      <label for="nme"><span>Duração estimada</span></label>
      <input type="submit" class="btn btn-pink" value="Buscar" />

      </form>

    </div>
  </div>
</div>

<%= render 'pages/content' %>
