<div class="banner" style="background-image: url('http://www.space338.com.au/wp-content/uploads/2015/12/Option_Original_Girl.png')">
  <div class="banner-content">
      <h1>Encontre uma baba de confiança em instantes.</h1>
      <p>Procure agora as melhores baby-sitters disponiveis</p>


<form class="form-inline">
  <label class="sr-only" for="inlineFormInput">Address</label>
  <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="user_address" placeholder="Your address">

  <button type="submit" class="btn btn-primary">Submit</button>
</form>



  </div>
</div>

<%= render "pages/content" %>

