<div class="container">
    <h1>Achamos <%= pluralize(@sitters.count, 'baby-sitter disponivel', 'baby-sitters disponiveis') %> </h1>
  <% @sitters.each do |sitter| %>
  <%= render "shared/card", sitter: sitter %>
  <% end %>
</div>



