<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center">
          <%= image_tag 'babaconfia.png' %>
          <h1>(Erro: 500)</h1>
          <h1>Ops, Tivemos um erro com nosso servidor!</h1>
          <h5>por favor tente de novo mais tarde!</h5>
    </div>
  </div>
</div>
