<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center">
          <img width="200" height="200" src="https://image.ibb.co/g2od97/sad_baby.png" alt="sad baby" >
          <h1>(Erro: 500)</h1>
          <h1>Ops, Tivemos um erro com nosso servidor!</h1>
          <h5>Por favor, tente novamente mais tarde.</h5>
    </div>
  </div>
</div>
