<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center">
          <%= image_tag 'babaconfia.png' %>
          <h1>(Erro: 404)</h1>
          <h1>Ops, Essa página não existe!</h1>
          <h5>por favor verifique se digitou o endereço correto!</h5>
    </div>
  </div>
</div>
