<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center">
          <img width="200" height="200" src="https://image.ibb.co/g2od97/sad_baby.png" alt="sad baby" >
          <h1>(Erro: 422)</h1>
          <h1>Hmm, tivemos um erro ao processar o seu pedido...</h1>
          <h5>Por favor, tente novamente!</h5>
    </div>
  </div>
</div>
