<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center">
          <%= image_tag 'babaconfia.png' %>
          <h1>(Erro: 422)</h1>
          <h1>Hmm, tivemos um erro ao processar o seu pedido...</h1>
          <h5>por favor tente novamente</h5>
    </div>
  </div>
</div>
