.card {
  color: black;
  position: relative;
  height: 350px;
  border: 0.1px solid black;
  border-radius: 8px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.19), 0 1px 1px rgba(0, 0, 0, 0.23);
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.card-left {
  width: 20%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5px;
}

.card-right {
  width: 80%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 5px;

}

.card-user {
  width: 180px;
  border-radius: 2%;
}

.card-price {
  vertical-align: bottom;
  text-align: center;
}

.card-username {
  vertical-align: top;
  text-align: left;
  width: 100%;
}


.card-username h2 {
  margin: 0px;
}

.card-rating {
  vertical-align: top;
  text-align: left;
    width: 100%

}

.card-rating h2 {
  font-size: 24px;
}

.fa-star {
  color: #FECB00;
  opacity: 1;
}

.fa-heart.on {
  color: red;
  opacity: 1;
}

.fa-heart.off {
  opacity: 1;
}

.card-rating p {
  font-size: 14px;
  opacity: 0.7;
  font-weight: lighter;

}

.card-details {
    vertical-align: top;
  text-align: left;
  font-size: 16px;
    width: 100%

}

.card-button  {
    vertical-align: top;
  text-align: left;
    width: 100%

}

.text-button {
  border: none;
  background-color: transparent;
  padding: 0;
  color: #666A73;
  text-decoration: none;
}

.nowrap {
    white-space: nowrap;
}
