.footer-bar {
    display: flex;
    flex: 0 0 auto;
    border-top: 1px solid rgb(245, 239, 228);
    justify-content: center;
    width: 100%;
    font-size: 15px;
    margin-top: 48px;
    background-color: white;
}

.footer-inside {
    display: flex;
    width: 900px;
    justify-content: space-around;
    flex-direction: row;
    max-width: 900px;
    padding-top: 32px;
    padding-bottom: 35px;
}

ul {
    margin-top: 5px;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

a {
  color: #666A73;
}
