<div class="container">
  <div class="text-available text-center">
  <h1>Criar horário de trabalho</h1>
  </div>
  <div class="create-available">
   <%= simple_form_for(@available) do |f| %>
   <h5>Data e hora de início<%= f.input :start_time, label: false, input_html: { class: "flatpickr-input" }, as: :string %></h5>
   <h5>Horas de trabalho<%= f.input :end_time, label: false, input_html: { class: "bord-form" }, as: :integer %></h5>
   <%= f.submit "Criar disponibilidade", class: "btn btn-light-blue" %>
   <% end %>
  </div>
</div>
