<div class="container">
  <div id="calendar"></div>
</div>
<% @availables.each do |a| %>
   <div class="hidden available" data-start="<%=  a.start_time.strftime '%Y-%m-%dT%H:%M:%S' %>" data-end="<%= a.end_time.strftime '%Y-%m-%dT%H:%M:%S' %>">
  </div>
 <% end  %>
