<%= render 'form' %>
<br>
<div class="container">
  <div class="text-available text-center">
    <h2>Confira sua disponibilidade e agendamentos</h2>
  </div>
  <hr>
  <div class="view-available">
    <div id="calendar">

    </div>
  </div>
</div>
