<div id="body-min-height">
  <div class="container">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="booking-description text-center">
        <p>Data e Horário de inicio: <strong><%= localize(@available.start_time, format: "%A, %e de %B de %Y às %H:%I")%>horas.</strong></p>
        <p>Hora de fim de disponibilidade: <strong><%= @available.end_time.strftime("%H:%I")%>horas.</strong></p>
        <br>
        <%= link_to "Apagar disponibilidade", available_path(@available), method: :delete, data: {confirm: 'Você tem certeza que quer apagar essa disponibilidade?'}, class: "btn btn-red-dark" %>
      </div>
    </div>
  </div>
  <br>
<div class="text-center"><%= link_to "Voltar", availables_path, class: "btn btn-pink btn-xs", style: "transform: scale(0.8);" %></div>
</div>
</div>
